*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: auto;
    background: rgb(0, 0, 0);
}
form{
    
    text-align: center; 
    align-items: center;
    width: 250px;
    height: 400px;
    padding: 10px;
    margin: 200px  auto ;
    border-radius: 10px;
}
.login-wrap{
	width:100%;
	margin:auto;
	max-width:250px;
	min-height:400px;
	background:url(/img/a0b79aa22fef38db96243813a7be0c2e.jpg) no-repeat center;
    border-radius: 20px;
}
form>input{
    
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30px;
    border-radius: 10px;
}
